
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel = "stylesheet" type = "text/css" href = "myStyle.css" />
    
<html>

    <head>
        <title>African MarketPlace</title>
        
    </head>

    <body>
        <h1>African Marketplace</h1>
            <div>
                <img class= 'logo'src =''>
            </div>
        <h1> Realising the dream of Pan-African trade</h1>
        <button>Sign Up</button>
        
    </body>