body {
  margin: 0 auto;
  border: green 1px solid;
  font-size: 62.5%;
  }
  body {
    background-image: url(https://ctl.s6img.com/society6/img/MLkJE4ur6g7Zpi0XuI-V3yT7z9c/w_700/canvas/~artwork/s6-original-art-uploads/society6/uploads/misc/9dbd247b72954cc089696e0fcc998b61/~~/modern-faux-grey-silver-glitter-ombre-white-marble-canvas.jpg?wait=0&attempt=0);
    background-position: center;
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
  
  .TeamCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 800px;
    width: 100%;

  }

.card-container {

  width: 900px;
  height: 90px;

}
  
.App {
  text-align: center;
  background-color: black;
  color: white;
  
}

.container {
  max-width: 80%;
 margin-left: 10%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ---------------------Logo Image--------------------------------------- */

.logo-image {
  display: flex;
  flex-wrap: wrap;
  background: url('./images/African-Marketplace-logo.png');
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 60px
}

/* ---------------------Top Image---------------------------------------- */

.TopImage {
  /* width: 80%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 200%; */
  margin-top: 2%;
}

/* ---------------------Mid Section (Comparison Section)----------------- */

.ComparisonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  /* text-align: center; */
}

.compareCard {
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: lightgrey;
  width: 94%;
  margin-left: 3%;
  /* padding-left: .5%; */
}

.compTitle {
  padding-top: 1%;
  padding-bottom: 3%;
}

/* ---------------------Bottom  (Other Items Section)---------------------*/

.ui-image {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
  max-width: 250px;
  max-height: 148px;
  width: 100%;
  text-align: center;
  /* margin: 10% 0; */
  /* min-height: 200px; */
  /* background-color: rgba(33, 33, 33, .3); */
  /* align-items: center; */
}

.CoffeeContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.TitleCB {
  justify-content: center;
  display: flex;
}

.other-items {
  width: 100%;
  max-width: 150px;
}

/* .other-items img {
  width: 100px;
} */

/* -----------------Login form----------------------- */

.LoginForm {
  padding-top: 2%;
  padding-bottom: 2%;
}


/* ========================================================= */


 
 
 .title {
  display: flex;
  flex-wrap: wrap;
  color: rgb(199, 199, 199);
  font-size: 4rem;
 }
 @media (max-width: 500px) {
  .title {
    display: flex;
    flex-wrap: wrap;
    color: rgb(199, 199, 199);
    font-size: 20px;
  }
 }
 .business {
  margin-left: auto
 }
 
 .logo-image {
  display: flex;
  flex-wrap: wrap;
  background: url('./images/African-Marketplace-logo.png');
  height: 200px;
  width: 200px;
  background-position: center ;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 60px
 }
 @media (max-width: 500px) {
   .logo-image {
    display: flex;
    flex-wrap: wrap;
    background: url('./images/African-Marketplace-logo.png');
    height: 150px;
    width: 150px;
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 0px
   }
 }
 
 .logo-container {
  margin-top: 30px
 }
 
 
 .logo-title-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
 
 }
 
  .grid-pics {
  display:flex;
  flex-wrap: wrap;
  border-radius: 5%;
  width:500px;
  height:500px;
 }
  .ui.grid .row .column img, .ui.grid .row img {
    max-width: 90%;
    max-height: 270px;
    margin-bottom: 30px;
    margin-top: 20px
 }
  @media (max-width: 500px) {
    .ui.grid .row .column img, .ui.grid .row img {
      max-width: 90%;
      max-height: 100px;
      margin-bottom: 30px;
      margin-top: 20px
  }
 
 }
 .searchBox {
  width: auto
 }
 
 .infoGrid{
  display: flex;
  flex-wrap: wrap;
  position:relative;
 
 }
 
 .description {
  font-size: .8rem ;
  
 }
 
 @media (max-width: 500px) {
  .information {
    font-size: 9px ;
    position: absolute;
    left: 10px;
    width: 70%;
    background: #1a1a1a66;
    top: 0;
    height: 100%;
    color: #fafafa;
  }
 }
 @media (max-width:500px) {
  a.item {
    width: 20px,
  }
 }
 
  @media (max-width: 500px){
  .ui.menu {
    font-size: .9rem
 
  }
 }
 
 @media(max-width: 500px) {
  a .item .business {
    display: none;
  }
 }    