.App {
  text-align: center;
  background-color: black;
  color: white;
  
}

.container {
  max-width: 80%;
 margin-left: 10%;
}

  @media (max-width: 500px) {
    body {
    margin: 0 auto;
    width:80%;
    font-size: 62.5%
  } 
}

.App {
  margin: auto 0;
  text-align: center;
;
  border: orange 3px solid;
  background: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ---------------------Logo Image--------------------------------------- */

.logo-image {
  display: flex;
  flex-wrap: wrap;
  background: url('./images/African-Marketplace-logo.png');
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 60px
}

/* ---------------------Top Image---------------------------------------- */

.TopImage {
  /* width: 80%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 200%; */
  margin-top: 2%;
}


.logo-title-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  

}


img {
  display:flex;
  flex-wrap: wrap;
  border-radius: 5%;
  width:500px;
  height:500px;

}
  .ui.grid .row .column img, .ui.grid .row img {
    max-width: 90%;
    max-height: 270px;
    margin-bottom: 30px;
    margin-top: 20px
}
  @media (max-width: 500px) {
    .ui.grid .row .column img, .ui.grid .row img {
      max-width: 90%;
      max-height: 100px;
      margin-bottom: 30px;
      margin-top: 20px
  }

}
.searchBox {
  width: auto
}

.infoGrid{
  display: flex;
  flex-wrap: wrap;
  position:relative;

}
.member-paragraph {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: .9rem;
  width: 90%;
  

  color: white;
  border: green 1px solid;
}

.information {
  font-size: 15px ;
  position: absolute;
  left:0;
  width: 60%;
  background: #1a1a1a66;
  top: 0;
  height: 100%;
  color: #fafafa;
}

@media (max-width: 500px) {
  .information {
    font-size: 9px ;
    position: absolute;
    left: 10px;
    width: 70%;
    background: #1a1a1a66;
    top: 0;
    height: 100%;
    color: #fafafa;
  }
}
@media (max-width:500px) {
  a.item {
    width: 20px,
  }
}

  @media (max-width: 500px){
  div.ui.pointing.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90px
  }
}

  @media (max-width: 500px){
  .ui.menu {
    font-size: .9rem

  }
}

.LoginForm {
  padding-top: 2%;
  padding-bottom: 2%;
}


/* ========================================================= */


 
 
 .title {
  display: flex;
  flex-wrap: wrap;
  color: rgb(199, 199, 199);
  font-size: 4rem;
 }
 @media (max-width: 500px) {
  .title {
    display: flex;
    flex-wrap: wrap;
    color: rgb(199, 199, 199);
    font-size: 20px;
  }
 }
 .business {
  margin-left: auto
 }
 
 .logo-image {
  display: flex;
  flex-wrap: wrap;
  background: url('./images/African-Marketplace-logo.png');
  height: 200px;
  width: 200px;
  background-position: center ;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 60px
 }
 @media (max-width: 500px) {
   .logo-image {
    display: flex;
    flex-wrap: wrap;
    background: url('./images/African-Marketplace-logo.png');
    height: 150px;
    width: 150px;
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 0px
   }
 }
 
 .logo-container {
  margin-top: 30px
 }
 
 
 .logo-title-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
 
 }
 
  .grid-pics {
  display:flex;
  flex-wrap: wrap;
  border-radius: 5%;
  width:500px;
  height:500px;
 }
  .ui.grid .row .column img, .ui.grid .row img {
    max-width: 90%;
    max-height: 270px;
    margin-bottom: 30px;
    margin-top: 20px
 }
  @media (max-width: 500px) {
    .ui.grid .row .column img, .ui.grid .row img {
      max-width: 90%;
      max-height: 100px;
      margin-bottom: 30px;
      margin-top: 20px
  }
 
 }
 .searchBox {
  width: auto
 }
 
 .infoGrid{
  display: flex;
  flex-wrap: wrap;
  position:relative;
 
 }
 
 .information {
  font-size: 15px ;
  position: absolute;
  left:0;
  width: 60%;
  background: #1a1a1a66;
  top: 0;
  height: 100%;
  color: #fafafa;
 }
 
 @media (max-width: 500px) {
  .information {
    font-size: 9px ;
    position: absolute;
    left: 10px;
    width: 70%;
    background: #1a1a1a66;
    top: 0;
    height: 100%;
    color: #fafafa;
  }
 }
 @media (max-width:500px) {
  a.item {
    width: 20px,
  }
 }
 
  @media (max-width: 500px){
  div.ui.pointing.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90px
  }
 }
 
  @media (max-width: 500px){
  .ui.menu {
    font-size: .9rem
 
  }
 }
 
 @media(max-width: 500px) {
  a .item .business {
    display: none;
  }
 }
